.icon-plus {
  &_vertical-align {
    &_center {
      float: left;
      display: flex;
      align-items: center;
    }
  }
}

.icon-plus__icon {
  &_indent-r {
    &_s {
      margin-right: var(--space-default-s);
    }
    &_m {
      margin-right: var(--space-default-m);
    }
  }
  &_indent-l {
    &_l {
      margin-left: var(--space-default-l);
    }
  }
}
