.button {
  &_size {
    &_s {
      height: 24px;
      width: 200px;
    }

    &_m {
      height: 32px;
      width: 200px;
    }

    &_l {
      height: 42px;
      width: 200px;
    }

    &_xl {
      height: 56px;
      width: 200px;
    }

    &_xxl {
      height: 64px;
      width: 200px;
    }
  }

  &_width {
    &_full {
      width: 100%;
    }
  }
}
