.theme {
  &_color {
    &_project-default-default {
      background-color: #ffffff;
    }
    &_project-default-accent {
      background-color: #0056b3;
    }
    &_project-default-border {
      background-color: #000000;
    }
    &_project-default-main {
      background-color: #000000;
    }
    &_project-default-secondary {
      background-color: rgba(0, 0, 0, 0.6);
    }
    &_project-default-additional {
      background-color: rgba(0, 0, 0, 0.3);
    }
    &_project-default-link {
      background-color: #0070f0;
    }

    &_project-brand-default {
      background-color: #0070f0;
    }
    &_project-brand-accent {
      background-color: #ffffff;
    }
    &_project-brand-border {
      background-color: #ffffff;
    }
    &_project-brand-main {
      background-color: #ffffff;
    }
    &_project-brand-secondary {
      background-color: rgba(255, 255, 255, 0.6);
    }
    &_project-brand-additional {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &_project-brand-link {
      background-color: #ffffff;
    }

    &_project-inverse-default {
      background-color: #000000;
    }

    &_project-inverse-accent {
      background-color: #ffffff;
    }
    &_project-inverse-border {
      background-color: #ffffff;
    }

    &_project-inverse-main {
      background-color: #ffffff;
    }
    &_project-inverse-secondary {
      background-color: rgba(255, 255, 255, 0.6);
    }
    &_project-inverse-additional {
      background-color: rgba(255, 255, 255, 0.3);
    }
    &_project-inverse-link {
      background-color: #0070f0;
    }

    &_project-warning-default {
      background-color: #ff9900;
    }

    &_project-warning-accent {
      background-color: #ffffff;
    }
    &_project-warning-border {
      background-color: #ffffff;
    }

    &_project-warning-main {
      background-color: #ffffff;
    }
    &_project-warning-secondary {
      background-color: rgba(255, 255, 255, 0.6);
    }
    &_project-warning-additional {
      background-color: rgba(255, 255, 255, 0.3);
    }
    &_project-warning-link {
      background-color: #fff;
    }

    &_megafon-brand-default {
      background-color: #1fa55d;
    }
    &_megafon-brand-accent {
      background-color: #ffffff;
    }
    &_megafon-brand-border {
      background-color: #ffffff;
    }

    &_megafon-brand-main {
      background-color: #ffffff;
    }
    &_megafon-brand-secondary {
      background-color: rgba(255, 255, 255, 0.6);
    }
    &_megafon-brand-additional {
      background-color: rgba(255, 255, 255, 0.3);
    }
    &_megafon-brand-link {
      background-color: #fff;
    }
  }

  &_size_default {
    &_s {
      height: 7px;
    }
    &_m {
      height: 8px;
    }
    &_l {
      height: 10px;
    }
    &_xl {
      height: 11px;
    }
    &_xxl {
      height: 13px;
    }

    &_lh-s {
      line-height: 18px;
    }
    &_lh-m {
      line-height: 21px;
    }
    &_lh-l {
      line-height: 25px;
    }
    &_lh-xl {
      line-height: 28px;
    }
    &_lh-xxl {
      line-height: 34px;
    }
  }

  &_space_default {
    &_xxxs {
      margin: 2px;
    }
    &_xxs {
      margin: 4px;
    }
    &_xs {
      margin: 8px;
    }
    &_s {
      margin: 12px;
    }
    &_m {
      margin: 16px;
    }
    &_l {
      margin: 20px;
    }
    &_xl {
      margin: 24px;
    }
    &_xxl {
      margin: 32px;
    }
    &_xxxl {
      margin: 40px;
    }
    &_xxxxl {
      margin: 48px;
    }
    &_xxxxxl {
      margin: 72px;
    }
  }

  &_gap {
    &_small {
      &_xxxl {
        display: grid;
        grid-gap: var(--indents-xxxl);
      }
    }

    &_small-m {
      grid-gap: calc(var(--gap / 2));
    }
  }
}

@media (max-width: 1144px) {
  .theme_breakpoint {
    grid-auto-columns: 100% !important;
    grid-template-columns: none !important;
    max-width: 880px !important;
  }
}
